/* Change the background of the entire visible page */
body {
    background-color: #6a95d7ff; /* Very light blue */
}

/* Style for all paragraphs */
p {
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px black; /* Adds an black border around the heading */
    padding: 10px; /* Adds space inside the border */

  }
