/* Change the background of the entire visible page */
body {
    background-color: #115694; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: black;
    font-size: 16px;
    font-family: 'Lobster', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px baby blue; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
